@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.top-sec{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
}
h1{
    font-size: 50px;
}
p{
    color: gray;
    font-size: 18px;
   
}
.orange-clr{
    color: orange;
}
.link{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(to right, orange,tomato);
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 5px;
    color: white;
}
section{
    margin-bottom: 120px;
}
.section{
    display: flex;
}
.half-width{
    width: 50%;
    margin-left: 5%;
    
}
.half-width img{
    width: 90%;
}
.left{
    margin-top: 10px;
}
.right{
    margin-right: 5%;
}
.dream-sec{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right bottom;
}

.experience-sec h2{
    color: rgb(247, 146, 30);
}
.ex-box{
    
    box-shadow: 2px 2px 15px gray;
    padding:0 15px 70px ;
    box-sizing: border-box;
    border-radius: 5px;
}
#left-box{
    border-left: 8px solid transparent;
    border-image: linear-gradient(to bottom, tomato,red);
    border-image-slice: 1;
    
}
#right-box{
    border-left: 8px solid ;
    border-image: linear-gradient(to bottom, rgb(79, 79, 243),blue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: black;
}
.experience-sec{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;

}